<h1>Work in Progress <small class="text-muted">stuff totally works though</small></h1>

<p>
<h3>Check out Cards!</h3>

<p>
Fuzzy search works, too.

<p>
<h3>Check out Decks!</h3>

<p>
The deck builder isn't working yet, but you can load deck cards and decks by player from matches.

<p>
<h3>Checkout Matches!</h3>

<p>
Matches landing page isn't the best in my opinion, but you can view recent matches now. I'm trying to find a better presentation

<h2>To do checklist</h2>
<p>
I think I have enough tooling to start writing background threads to do card/deck/match analystics for "most winningest card", "most winningest player", "player most likely to deny matches", "winningest number of items in deck", "winningest hero ability", "winningest hero faction", etc.

<p>
Deck builder <small class="text-muted">duh</small>. I got distracted with finding the cards used in recent matches.

<p>
Deck searching by player id or fuzzy name match

<p>
Better Matches index page presentation, carousel is annoying me now.

<p>
Player scoped landing page? See player win ratio per deck and over all, player's recent matches and player's decks

<p>
Determine how to translate hero ability numbers to text

<p>
Some kind of ring buffer to keep recent matches and decks constantly updating instead of large, unnecessary batch calls to refresh all known objects
