<h1>Work in Progress</h1>

<p>
<em>Cards</em> works, I'm trying to find a display pattern I like. Just added thumbnails to search results.
I kinda figured out how mobile/responsive works. I'm using this a push to learn how to do frontend things.

<p>
Fuzzy search works.

<p>
Decks and Matches don't work yet.
