</br>
<h2 class="text-center">Deck Builder</h2>

<p class="lead">This is work in progress, Add/Remove buttons don't work yet</p>

<%= render('decks/deck_panel') %>
<%= render('decks/cards_selector') %>
