</br>
<div class="list-group">
  <p>Viewer (Requires a deck ID. I'm working on a deck lister/match result link to)</p>
  <a href="/decks/show/1892" class="list-group-item list-group-item-action">View Deck 1892</a>
</div>

</br>
<div class="list-group">
  <p>Builder (Doesn't work)</p>
  <a href="/decks/builder" class="list-group-item list-group-item-action">Deck Builder</a>
</div>

<br>
<div class="list-group">
  <p>While I figure how I want to make the deck builder work, here's an existing deck in the builder</p>
  <a href="/decks/builder/from/1892" class="list-group-item list-group-item-action">Deck Builder with Deck 1892</a>
</div>
