</br>
<div class="list-group">
  <p>Builder (Doesn't work)</p>
  <a href="/decks/builder" class="list-group-item list-group-item-action">Deck Builder</a>
</div>

<br>
<div class="list-group">
  <p>While I figure how I want to make the deck builder work, here's a simple deck browser</p>
  <a href="/decks/builder/from/1892" class="list-group-item list-group-item-action">Deck 1892</a>
</div>
